#MainWindow {
    background-color: #23272e;
}

#fixedLabel {
    color: #13d81d;
    font-size: 36px;
    font-weight: bold;
}

#workspaceLabel {
    color: #8be9fd;
    font-size: 16px;
    font-style: italic;
}